@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');

* {
	margin: auto 0;

}


.header {
	background-color: #E5FFF7;
	padding: 30px;
}



h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000000;
	text-align: center;
	font-family: "Annapurna SIL", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}




h2 {
	background-color: rgb(197, 212, 250);
	padding: 10px;


}

h4 {
	background-color: rgb(229, 237, 253);
	padding: 10px;

}

section {
	margin-right: 20px;
	margin-left: 20px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}


.float-container {
	display: flex;
	background-color: rgb(100, 57, 115);
}
