@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');

* {
	margin: auto 0;
	box-sizing: border-box;

}

img {
	max-width: 100%;
	border: #1B7A79 7px double;
}

.header {
	background-color: #E5FFF7;
}

.header-align {
	display: inline-flex;
	padding: 4% 0% 2% 3%;
	text-align: justify;
	margin-top: -3%;

}

.simplylogo {
	width: 100%;
	margin-left: 35%;
	border-style: none;
	margin-top: 0%;
}

.bar-icon {
	width: 65%;
	margin-top: 10%;
	margin-left: 300%;
	border-style: none;
}




h1 {
	padding-top: 4%;
	padding-bottom: 20px;
	color: #000000;
	text-align: center;
	font-family: "Annapurna SIL", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}




h2 {
	background-color: #CEFEEF;
	padding: 10px;
	color: #1E1E1E;
	text-align: center;
	font-family: "Annapurna SIL";
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;


}

h4 {
	background-color: #83CFD1;
	padding: 5%;
	font-size: 25px;
	text-align: center;

}


section {
	margin-right: 20px;
	margin-left: 20px;
}

p,
li {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	font-family: "Annapurna SIL";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



.authorname {
	text-align: center;
	padding-bottom: 3%;
}

.jumpbutton {
	text-align: center;
}

.jump {
	color: white;
	text-decoration: none;
	font-family: "Annapurna SIL";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	background: #1B7A79;
	padding: 1.5% 1.5%;
	text-decoration: none;
	display: inline-block;


}


.container-one {
	display: inline-flex;
	padding: 4% 0% 2% 3%;
	text-align: justify;

}

.container-one-p {
	margin-top: 0%;
}



.image-one {
	max-width: 70%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 5%;
}

.container-two {
	padding-top: 1%;
	display: inline-flex;
}

.container-two-p {
	padding-left: 2%;
}


.image-twothree {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-two {
	padding-top: 2%;
	padding-bottom: 5%;
}

.image-three {
	padding-bottom: 5%;
}



.container-three-p {
	padding: 3% 4% 3% 4%;
}

.image-four {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-bottom: 3%;
}

.container-four {
	overflow: hidden;
	padding-top: 1%;
	padding-bottom: 2%;
}

.container-four-p {
	padding: 1% 5% 0% 2%;

}


.container-fivesix {
	padding-top: 1%;
	padding-bottom: 4%;
	display: inline-flex;


}

.container-five {
	padding-right: 2%;
	padding-left: 5%;
	margin-top: 1%;
}

.container-five-p {
	padding-top: 5%;
	padding-left: 2%;

}

.container-six {
	max-width: 70%;
	padding-top: 1%;
	padding-right: 5%;
	margin-left: 7%;
	text-align: center;
}


.container-six-p {
	padding-top: 9%;
}



.image-five {
	float: right;
	max-width: 50%;
	padding: 0% 5% 1% 5%;

}

.cookingtime {
	background-color: white;
	padding: 2%;
	text-align: center;
}

.pastatimes {
	background: #157878;
	padding: 5%;
	margin-right: 1.3%;
}

.ingredientslist {
	text-align: center;
	list-style-position: inside;
	padding: 1.5%;
}

.container-stepone {
	padding-top: 3%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepone-p {
	padding-left: 2%;
	margin-top: 3%;
}

.stepone {
	padding-left: 6%;
}


.image-sixseven {
	width: 153%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-six {
	padding-top: 5%;
	padding-bottom: 8%;
}

.image-seven {
	padding-bottom: 6%;

}


.container-steptwo {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-steptwo-p {
	padding-left: 2%;
	margin-top: 1%;
}


.image-eightnine {
	width: 95%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-eight {
	padding-top: 2%;
	padding-bottom: 8%;
}

.image-nine {
	padding-bottom: 0%;
}


.container-stepthree {
	display: inline-flex;
	padding: 5% 0% 0% 2%;
	text-align: justify;
}

.container-stepthree-p {
	padding-right: 5%;
}


.image-ten {
	min-width: 1%;
	padding-top: 1%;
	padding-right: 4%;
	padding-left: 2%;
}

.rollout {
	padding: 0% 3% 4% 2%;
}

.four-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5%;
	background: #1B7A79;
	padding: 3% 3.5% 5% 3.5%;
	margin-right: 8%;
	margin-left: 12%;
	width: 70%;
	border: #83CFD1 dotted 7px;

}



.container-stepfour {
	padding-top: 4.5%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepfour-p {
	padding-left: 2%;
	margin-top: 10%;
}


.image-fifsix {
	width: 90%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-fifteen {
	padding-top: 2%;
	padding-bottom: 5%;
}

.image-sixteen {
	padding-bottom: 6%;
}


.container-stepfive {
	padding-right: 2%;
	display: inline-flex;
}

.container-stepfive-p {
	padding-left: 2%;
	margin-top: 6%;
}


.image-seventeen {
	width: 185%;
	padding-top: 5%;
	padding-right: 2%;
	padding-left: 27%;
}


.container-stepsix {
	padding-right: 2%;
	display: inline-flex;
}

.container-stepsix-p {
	padding-left: 2%;
	margin-top: 11%;

}


.image-eighteen {
	max-width: 70%;
	padding-top: 6%;
	padding-left: 5%;
	padding-right: 2%;
}

.container-stepseven {
	padding-right: 2%;
	display: inline-flex;
}

.container-stepseven-p {
	padding-left: 2%;
	margin-top: 5%;
}


.image-nineteen {
	padding-left: 24%;
	padding-right: 2%;
	padding-bottom: 4%;
	width: 73%;
}



.container-stepeight {
	overflow: hidden;
	padding-top: 1%;
	padding-bottom: 3%;
}

.container-stepeight-p {
	padding: 4% 5% 5% 2%;

}

.image-twenty {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 58%;
	padding-bottom: 1%;
	padding-right: 10%;
	padding-left: 4%;
}


/* this is for iphone*/

@media screen and (max-width: 500px) {
	.simplylogo {
		width: 70%;
		margin-left: 5%;
	}

	.bar-icon {
		width: 55%;
		margin-left: 43%;
		padding-bottom: 3%;
	}

	body {
		margin-right: -4%;
	}



	h1 {
		padding-top: 10%;
		font-size: 30px;
	}

	body {
		padding-right: 3%;
	}

	.authorname {
		padding-bottom: 5%;
	}

	.container-one {
		display: block;
		padding: 5%;

	}

	.container-one-p {
		padding: 2% 7% 2% 4%;
	}



	.image-one {
		max-width: 80%;
		padding-bottom: 7%;
		padding-right: 3%;
		margin-left: 8%;
	}


	.container-two {
		display: block;
		padding: 5%;
	}

	.image-twothree {
		padding-top: 8%;
		padding-bottom: 4%;
		margin-left: 13%;
	}


	.container-three {
		display: block;
		padding: 5%;
	}

	.image-four {
		padding-top: 8%;
		padding-bottom: 7%;
		margin-left: 10%;
		width: 80%;
	}

	.container-four {
		display: block;
		padding: 5%;

	}



	.image-five {
		padding: 10% 6% 16% 2%;
		margin-right: 3%;
		max-width: 200%;
	}

	.container-fivesix {
		display: block;
		padding: 5%;

	}

	.container-five-p {
		padding: 13% 1% 5% 4%;
	}

	.container-five-h2 {
		margin-right: 4%;
	}

	.container-six {
		margin-left: 18%;
		padding-top: 8%;
		padding-bottom: 8%;
	}

	h2 {
		margin-right: -0%;
	}


	h4 {
		margin-left: -2%;
	}

	.pastatimes {
		margin-right: 5%;
	}

	.ingredientslist {
		margin-right: 7%;
	}

	.ingredients-padding {
		padding-top: 15%;
	}




}