@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');

* {
	margin: auto 0;

}


.header {
	background-color: #E5FFF7;
	padding: 50px;
}




h1 {
	padding-top: 4%;
	padding-bottom: 20px;
	color: #000000;
	text-align: center;
	font-family: "Annapurna SIL", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}




h2 {
	background-color: #CEFEEF;
	padding: 10px;
	color: #1E1E1E;
	text-align: center;
	font-family: "Annapurna SIL";
	font-size: 30px;
	font-style: normal;
	font-weight: 700;


}

h4 {
	background-color: #83CFD1;
	padding: 5%;
	font-size: 25px;
	text-align: center;

}

section {
	margin-right: 20px;
	margin-left: 20px;
}

p,
li {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	font-family: "Annapurna SIL";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



.authorname {
	text-align: center;
	padding-bottom: 5%;
}

.jumpbutton {
	background: #1B7A79;
	padding: 2% 2%;
	text-decoration: none;
	display: inline-block;
}

.jump {
	color: white;
	text-decoration: none;

}


.container-one {
	display: inline-flex;
	padding: 4% 0% 2% 3%;
	text-align: justify;

}

.container-one-p {
	margin-top: 0%;
}



.image-one {
	max-width: 70%;
	padding-top: 1%;
	padding-right: 2%;
	padding-left: 4%;
}

.container-two {
	padding-top: 1%;
	display: inline-flex;
}

.container-two-p {
	padding-left: 2%;
}


.image-twothree {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-two {
	padding-top: 2%;
	padding-bottom: 5%;
}

.image-three {
	padding-bottom: 6%;
}



.container-three-p {
	padding: 2% 4% 4% 4%;
}

.image-four {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-bottom: 3%;
}

.container-four {
	overflow: hidden;
	padding-top: 1%;
	padding-bottom: 2%;
}

.container-four-p {
	padding: 1% 5% 0% 2%;

}


.container-fivesix {
	padding-top: 1%;
	padding-bottom: 4%;
	display: inline-flex;


}

.container-five {
	padding-right: 2%;
	padding-left: 5%;
	margin-top: 1%;
}

.container-five-p {
	padding-top: 5%;
	padding-left: 2%;

}

.container-six {
	max-width: 70%;
	padding-top: 1%;
	padding-right: 5%;
	margin-left: 7%;
	text-align: center;
}


.container-six-p {
	padding-top: 9%;
}



.image-five {
	float: right;
	max-width: 50%;
	padding: 0% 5% 1% 5%;

}

.cookingtime {
	background-color: white;
	padding: 2%;
	text-align: center;
}

.pastatimes {
	background: #157878;
	padding: 5%;
}

.ingredientslist {
	text-align: center;
	list-style-position: inside;
	padding: 1.5%;
}

.container-stepone {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepone-p {
	padding-left: 2%;
	margin-top: 2%;
}


.image-sixseven {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-six {
	padding-top: 5%;
	padding-bottom: 8%;
}

.image-seven {
	padding-bottom: 6%;

}


.container-steptwo {
	padding-right: 2%;
	display: inline-flex;
}

.container-steptwo-p {
	padding-left: 2%;
	margin-top: 1%;
}


.image-eightnine {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-eight {
	padding-top: 2%;
	padding-bottom: 8%;
}

.image-nine {
	padding-bottom: 0%;
}


.container-stepthree {
	display: inline-flex;
	padding: 3% 0% 2% 2%;
	text-align: justify;
}

.container-stepthree-p {
	padding-right: 5%;
}


.image-ten {
	max-width: 70%;
	padding-top: 1%;
	padding-right: 3.9%;
	padding-left: 2%;
}

.rollout {
	padding: 0% 3% 6% 2%;
}

.four-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5%;
	background: #1B7A79;
	padding-left: 15%;
	padding-bottom: 4%;
	padding-top: 6%;
	padding-right: 50%;
}


.container-stepfour {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepfour-p {
	padding-left: 2%;
	margin-top: 10%;
}


.image-fifsix {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;

}

.image-fifteen {
	padding-top: 2%;
	padding-bottom: 5%;
}

.image-sixteen {
	padding-bottom: 6%;
}


.container-stepfive {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepfive-p {
	padding-left: 2%;
	margin-top: 10%;
}


.image-seventeen {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;
}


.container-stepsix {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepsix-p {
	padding-left: 2%;
	margin-top: 10%;

}


.image-eighteen {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;
}

.container-stepseven {
	padding-top: 2%;
	padding-right: 2%;
	display: inline-flex;
}

.container-stepseven-p {
	padding-left: 2%;
	margin-top: 10%;
}


.image-nineteen {
	max-width: 70%;
	padding-left: 5%;
	padding-right: 2%;
}


.image-twenty {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-bottom: 3%;
}

.container-stepeight {
	overflow: hidden;
	padding-top: 1%;
	padding-bottom: 3%;
}

.container-stepeight-p {
	padding: 1% 5% 5% 2%;

}

.image-twenty {
	padding-right: 10%;
}